<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./../assets/css/style.css" />

    <title>Login</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <h2>Logsd,min</h2>
        <form name="login" id="login" method="post">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />

          <input type="submit" name="submit" value="Login" />
          <p>Not created account <a href="./users/registration.ejs">Sign In</a></p>
        </form>
      </div>
    </div>

    <div class="main">
      <div class="container">
      <form id="form" name="form" method="POST">
          <h2>Sign In</h2>
  
          <label for="fname">First Name</label>
          <input id="fname" type="text" name="fname">
  
          <label for="lname">Last Name</label>
          <input  id="lname" type="text" id="lname" name="lname">
  
          <label for="email">Email</label>
          <input id="email"  type="email" name="email">
  
          <label  for="password">Password</label>
          <input id="password" type="password" id="password" name="password">
  
          <input id="sub-btn" type="submit" name="submit" value="Sign In" />
          <p>Already a User?  <a href="./users/login.ejs">Login</a></p>
  
      </form>
      </div>
      </div>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/login.js"></script>
    
  </body>
</html> -->
