<% include('../layouts/header.ejs') %>
<h1>Registration</h1>
<form action="" method="post" enctype="multipart/form-data">
  <input type="text" autocomplete="off" name="name" placeholder="UserName" />
  <br /><br />
  <input type="text" autocomplete="off" name="email" placeholder="Email" />
  <br /><br />
  <input
    type="text"
    autocomplete="off"
    name="mobile"
    placeholder="Mobile No"
  /><br /><br />
  <input
    type="password"
    autocomplete="off"
    name="password"
    placeholder="Password"
  /><br /><br />

  <input type="submit" value="Register" />
</form>
<% include('../layouts/footer.ejs') %>
